@{ ViewBag.Title = "Cari"; }

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-default btn-sm" href="@Url.Action("Create")">
                    <i class="fa fa-plus"></i> Yeni
                </a>
            </div>
            <div class="box-body">
                <table id="dt" class="table table-hover table-striped" style="width:100%">
                    <thead class="blue-grey lighten-4">
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Uyruk</th>
                            <th>Cinsiyet</th>
                            <th>Eposta Adresi</th>
                            <th>Şehir</th>
                            <th>Mobil Telefon</th>                     
                            <th width="10%"></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-cari-liste');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-cari-liste-Cari');
        subMenuItem.classList.add('active');

        var columns = [
            { "data": "Cari_AdSoyad", "name": "Cari_AdSoyad", "autoWidth": true },
            { "data": "CariUyruk_Adi", "name": "CariUyruk_Adi", "autoWidth": true },
            { "data": "Cinsiyet", "name": "Cinsiyet", "autoWidth": true },
            { "data": "Cari_EpostaAdresi", "name": "Cari_EpostaAdresi", "autoWidth": true },
            { "data": "CariSehir_Adi", "name": "CariSehir_Adi", "autoWidth": true },
            { "data": "Cari_MobilTelefon", "name": "Cari_MobilTelefon", "autoWidth": true },
            {
                "data": "Cari_ID",
                "render": function (data, type, row) {
                    var icons= "<a class='fa fa-trash task-button' title='Sil' onclick='deleteConfirm(\"/Cari/delete/" + row.Cari_ID + "\"); return false;' ></a>" +
                        " <a class='fa fa-edit task-button' title='Düzenle' href='/Cari/edit/" + row.Cari_ID + "'></a>" +
                        " <a class='fa fa-info task-button' title='Detay' href='/Cari/details/" + row.Cari_ID + "'></a>";
                    if (row.CariEhliyet_ID === null) {
                        icons += " <a class='fa fa-file task-button' title='Ehliyet Oluştur' href='/CariEhliyet/create/" + row.Cari_ID + "'></a>";
                    }

                    return icons;
                }
            },
        ]; 
        var selector = "#dt";
        var url = "/Cari/LoadDt";
        makeDatatable(selector, url, columns, afterDatatabled);
    });
</script>


