@{ ViewBag.Title = "Araç"; }

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-default btn-sm" href="@Url.Action("Create")">
                    <i class="fa fa-plus"></i> Yeni
                </a>
            </div>
            <div class="box-body">
                <table id="dt" class="table table-hover table-striped" style="width:100%">
                    <thead class="blue-grey lighten-4">
                        <tr>
                            <th>Araç Grup</th>
                            <th>Araç Marka</th>
                            <th>Araç Model</th>
                            <th>Araç Yılı </th>
                            <th>Yakıt Türü</th>
                            <th>Vites Tipi</th>
                            <th>Araç Kasa Tipi</th>
                            <th>Plaka Numarası</th>
                            <th>Lokasyon</th>
                            <th>Araç Durumu</th>
                            <th width="15%"></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-arac-liste');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-arac-liste-Arac');
        subMenuItem.classList.add('active');

        var columns = [
            { "data": "AracGrup_Adi", "name": "AracGrup_Adi", "autoWidth": true },
            { "data": "AracMarka_Adi", "name": "AracMarka_Adi", "autoWidth": true },
            { "data": "AracModel_Adi", "name": "AracModel_Adi", "autoWidth": true },
            { "data": "Arac_Yil", "name": "Arac_Yil", "autoWidth": true },
            { "data": "AracYakitTuru_Adi", "name": "AracYakitTuru_Adi", "autoWidth": true },
            { "data": "VitesTipi", "name": "VitesTipi", "autoWidth": true },
            { "data": "AracKasaTipi_Adi", "name": "AracKasaTipi_Adi", "autoWidth": true },
            { "data": "AracPlakaNo", "name": "AracPlakaNo", "autoWidth": true },
            { "data": "Lokasyon_Adi", "name": "Lokasyon_Adi", "autoWidth": true },
            { "data": "KiralamaDurumu", "name": "KiralamaDurumu", "autoWidth": true },
            {
                "data": "Arac_ID",
                "render": function (data, type, row) {
                    var buttons= "<a class='fa fa-trash task-button' title='Sil' onclick='deleteConfirm(\"/Arac/delete/" + row.Arac_ID + "\"); return false;' ></a>" +
                        " <a class='fa fa-edit task-button' title='Düzenle' href='/Arac/edit/" + row.Arac_ID + "'></a>" +
                        " <a class='fa fa-info task-button' title='Detay' href='/Arac/details/" + row.Arac_ID + "'></a>";
                    if (row.AracKiralamaDurumu === 0) {
                        buttons +=
                            " <a class='fa fa-wrench task-button' title='Servise Verildi' href='/Arac/SendToService/" + row.Arac_ID + "'></a>" +
                            " <a class='fa fa-battery-empty task-button' title='Pasif Yap' href='/Arac/MakePassive/" + row.Arac_ID + "'></a>" +
                            " <a class='fa fa-map-marker task-button' title='Lokasyon Değiştir' onclick='ChangeLocation(" + row.Arac_ID + ")'></a>";
                    }
                    return buttons;
                }
            },
        ];

        var selector = "#dt";
        var url = "/Arac/LoadDt";
        makeDatatable(selector, url, columns, afterDatatabled);
    }); 
</script>


