.mainpage {
    background-image: url("/assets/images/mainbg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    .searcharea {
        margin-top: 6.2rem;
        margin-bottom: 13rem;

        span.slogan {
            font-weight: 600;
            text-transform: uppercase;
            color:#fff;
        }
        h1 {
            color:#fff;
            font-weight: 800;
            font-size: 3rem;
        }

        a {
            text-transform: uppercase;
            color:#fff;
            text-decoration: none;
            background-color: #c85555;
            padding: 1rem;
            font-weight: 800;
            font-size: 12px;
            display: inline-block;
        }

        form {
            background-color: rgb(0 0 0 / 50%);
            padding: 1rem;
            
            button {
                background-color: #c85555;
                text-transform: uppercase;
                border: none;
                width: 100%;
                font-size: 12px;
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
                color: #fff;
                outline: none;
            }

            label {
                font-weight: 500;
                font-size :12px;
                color:#fff;
            }

            .form-group {
                .selectric {
                    background: rgb(255 255 255 / 0.20);
                    border: none;
                    border-radius: inherit;
                    span {
                        color:#fff;
                        font-size:12px;
                    }

                    i {
                        color:#fff;
                    }

                }

                .selectric-items {
                    border: none;
                border-radius: inherit;
                background: rgb(255 255 255 / 0.20);
                 
                    li {
                        color:#fff;
                        &:hover,&.highlighted {
                            background: rgb(255 255 255 / 0.40);
                        }
                    }

                }
            }
        }
    }

    .main_slider {
        padding-bottom: 5rem;
        .item {
            .img img {
                outline: none;
                border: none;
            }
            .item-hover{
                display: none;
                position: absolute;
            }
            &:hover {
                .item-hover{
                    display: block;
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    -ms-transition: all 1s ease;
                    transition: all 1s ease;
                    top : 7rem;
                } 

                .sub-title{
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    -ms-transition: all 1s ease;
                    transition: all 1s ease;
                    top : 1.5rem;
                }
            }
        }
        .sub-title{
            position: absolute;
            bottom: 1rem;
            left: 1.5rem;
            color: #fff;
            font-weight: 800;
            font-size:14px;
            text-transform: uppercase;
        }
        .item-hover{
            position: absolute;
            display: none;
            bottom: 1rem;
            left: 1.5rem;
            color: #fff;
            font-weight: 400;
            font-size:12px;
        }
        .owl-dots{
            text-align: center;

            .owl-dot {
                width: .5rem;
                height: .5rem;
                border-radius: 1rem;
                background-color: #b3b3b3;
                margin: 0.2rem;
                &:focus {
                    outline: none;
                }
                &.active {
                    background-color: #14181c;
                }
            }
        }
    }

}

.vehicle_list{
    background-color: #f2f2f2;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
       text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }

    h3 {
        color: #b3b3b3;
        font-weight: 400;
        font-size: 0.8rem;
        text-align: center;
        margin: 0;

    }

    .vehicle_slider,.vehicleslist {
        margin-top: 4rem;

            .owl-dots{
                text-align: center;
    
                .owl-dot {
                    width: .5rem;
                    height: .5rem;
                    border-radius: 1rem;
                    background-color: #b3b3b3;
                    margin: 0.2rem;
                    &:focus {
                        outline: none;
                    }
                    &.active {
                        background-color: #14181c;
                    }
                }
            }

        .border_bottom{
            border-bottom: 1px solid #c6c6c6;
        }
        .border_right{
            border-right: 1px solid #c6c6c6;
        }
        .car_area {
            border:1px solid #c6c6c6;
            .discount{
                position: absolute;
                padding: 0.8rem;
                background-color: #c85555;
                left: 1.6rem;
                color: #fff;
                font-weight: 600;
            }
            .img_area {
                img {
                    width: 90%;
                    text-align: center;
                    margin: auto;
                    padding: 1.5rem 0;
                }

            border-bottom:1px solid #c6c6c6;

            }

            .title_area{
                text-align: center;
                padding: 1.5rem 0;
                border-bottom: 1px solid #c6c6c6;
                .title {
                    font-weight: 800;
                }

                .subtitle {
                    font-weight: 400;
                    font-size: 13px;
                    color: #b3b3b3;
                    em {
                        font-weight: 800;
                        font-style: normal;
                        color:#c85555;
                    }
                }
                
            }

            .preview_area {
                text-align: center;
                padding: 1.5rem 0;
                border-bottom: 1px solid #c6c6c6;
                a{
                    text-transform: uppercase;
                    color: #fff;
                    background-color: #9daf72;
                    width: 85%;
                    display: block;
                    margin: 0 auto;
                    padding: 0.7rem;
                    font-weight: 600;
                    font-size: 12px;
                    &:hover{
                        background-color: rgb(157 175 114 / 0.8);
                        text-decoration: none;
                    }
                }
            }

            .feature_area {
                .float-left {
                    padding: 0.7rem;
                    font-weight: 800;
                    font-size: 12px;
                    text-transform: uppercase;
                }
                .float-right {
                    padding: 0.7rem;
                    font-weight: 400;
                    font-size: 12px;
                    color:#b3b3b3;
                    text-transform: uppercase;
                }
            }

            

        }

        .reservation_area {
            text-align: center;
            padding: 1.5rem 0;
            a{
                text-transform: uppercase;
                color: #fff;
                background-color: #c85555;
                width: 100%;
                display: block;
                margin: 0 auto;
                padding: 0.7rem;
                font-weight: 600;
                font-size: 12px;
                &:hover{
                    background-color: rgb(157 175 114 / 0.8);
                    text-decoration: none;
                }
            }
        }
    }

}


.main_reservation_detail {
    background-image: url("/assets/images/reservationdetail.jpg");
    background-position:  top right;
    background-repeat: no-repeat;

    h3 {
        text-transform: uppercase;
        font-weight: 800;
        margin: 0;
        margin-top: 7rem;
    }
    h4{
        color:#b3b3b3;
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 3rem;
    }

    form {
        label {
            font-weight: 800;
            font-size: 12px;
            color: #000;
            display: block;
            margin: 0;
            margin-bottom: 0.3rem;
        }

        .form_control {
            width: 100%;
            height: 40px;
            border:inherit;
            padding: 8px 16px;
            position: relative;
            font-size: 15px;
            line-height: 20px;
            color: #b3b3b3;
            background-color: #f2f2f2;
            outline: none;
            font-size: 12px;
        }

        button {
            background-color: #c85555;
            text-transform: uppercase;
            border: none;
            width: 100%;
            font-size: 12px;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            color: #fff;
            outline: none;
            font-weight: 600;
            margin-bottom: 12rem;
        }
    }
}