@{ ViewBag.Title = "İşlem"; }

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-default btn-sm" href="@Url.Action("Create")">
                    <i class="fa fa-plus"></i> Yeni
                </a>
            </div>
            <div class="box-body">
                <table id="dt" class="table table-hover table-striped" style="width:100%">
                    <thead class="blue-grey lighten-4">
                        <tr>
                            <th>Id</th>
                            <th>Durum</th>
                            <th>Cari Adı Soyadı</th>
                            <th>Araç Marka / Model</th>
                            <th>Plaka</th>
                            <th>Başlangıç - Bitiş Tarihi</th>
                            <th>Günlük Ücret</th>
                            <th>Tahsil Edilen</th>
                            <th>Kalan</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-operation');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-operation-liste-islem');
        subMenuItem.classList.add('active');

        var columns = [
            { "data": "Islem_ID", "name": "Islem_ID", "autoWidth": true },
            { "data": "IslemTipim", "name": "IslemTipim", "autoWidth": true },
            { "data": "Cari_AdSoyad", "name": "Cari_AdSoyad", "autoWidth": true },

            {
                "data": "AracGrup_Adi",
                "render": function (data, type, row) {
                    return row.AracGrup_Adi + " " + row.AracMarka_Adi + " " + row.AracModel_Adi + " (" + row.Arac_Yil + ")";
                }
            },
            { "data": "AracPlakaNo", "name": "AracPlakaNo", "autoWidth": true },
            {
                "data": "BaslangicTarihi",
                "render": function (data, type, row) {
                    return row.BaslangicTarihi + " - " + row.BitisTarihi;
                }
            },

            { "data": "Islem_GunlukUcret", "name": "Islem_GunlukUcret", "autoWidth": true },
            { "data": "Islem_TahsilEdilen", "name": "Islem_TahsilEdilen", "autoWidth": true },
            { "data": "Islem_KalanBorc", "name": "Islem_KalanBorc", "autoWidth": true },

            {
                "data": "Islem_ID",
                "render": function (data, type, row) {
                    if (row.Islem_Tipi === 1) {
                        return "<a class='fa fa-angle-double-right task-button' title='Rezervasyondan Kiralamaya' href='/Islem/Hire/" + row.Islem_ID + "'></a>" +
                            " <a class='fa fa-close task-button' title='Rezervasyon İptal' href='/Islem/CancelReservation/" + row.Islem_ID + "'></a>";
                    }
                    else if (row.Islem_Tipi === 2) {
                        return "";
                    }
                    else if (row.Islem_Tipi === 3) {
                        return "<a class='fa fa-check-circle-o task-button' title='Kiralama Bitti' href='/Islem/Done/" + row.Islem_ID + "'></a>";
                    }
                    else {

                        return "";
                    }
                }
            },
        ];

        var selector = "#dt";
        var url = "/Islem/LoadDt";
        makeDatatable(selector, url, columns, afterDatatabled);
    });
</script>


