@{ ViewBag.Title = "Araç Renk"; }

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-default btn-sm" href="@Url.Action("Create")">
                    <i class="fa fa-plus"></i> Yeni
                </a>
            </div>
            <div class="box-body">
                <table id="dt" class="table table-hover table-striped" style="width:100%">
                    <thead class="blue-grey lighten-4">
                        <tr>
                            <th>Renk</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-arac-liste');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-arac-liste-AracRenk');
        subMenuItem.classList.add('active');

        var columns = [
            { "data": "AracRenk_Adi", "name": "AracRenk_Adi", "autoWidth": true },
            {
                "data": "AracRenk_ID",
                "render": function (data, type, row) {
                    return "<a class='fa fa-trash task-button' title='Sil' onclick='deleteConfirm(\"/AracRenk/delete/" + row.AracRenk_ID + "\"); return false;' ></a>" +
                        " <a class='fa fa-edit task-button' title='Düzenle' href='/AracRenk/edit/" + row.AracRenk_ID + "'></a>";
                }
            },
        ];

        var selector = "#dt";
        var url = "/AracRenk/LoadDt";
        makeDatatable(selector, url, columns, afterDatatabled);
    });
</script>


