<section class="carlist">
    <div class="container">
        <ul class="social">
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <header>
        <div class="container">
            <ul>
                <li>
                    <a href="anasayfa"> Ana Sayfa</a>
                </li>
                <li class="selected">
                    <a href="araclistesi"> Araç Listesi</a>
                </li>
                <li>
                    <a href="hakkinda"> Hakkımızda</a>
                </li>
                <li>
                    <a href="iletisim"> İletişim</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <h1>
            Araç Listesi
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>

</section>
<section class="vehicle_list mt-0 pt-0" style="background: none;">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="vehicleslist">
                    <div class="row">
                        <div class="col-6">
                            <div class="car_area">
                                <div class="discount">
                                    -%10
                                </div>
                                <div class="img_area">
                                    <img src="~/content/assets/images/vehicle.png" />
                                </div>
                                <div class="title_area">
                                    <div class="title">
                                        Renault Symbol 1.5 DCi Joy
                                    </div>
                                    <div class="subtitle">
                                        Haftalık fiyatı <em>141.60</em> TL / gün
                                    </div>
                                </div>
                                <div class="preview_area">
                                    <a href="#">Aracı İncele</a>
                                </div>
                                <div class="feature_area">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                        </div>
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="reservation_area">
                                <a href="#">rezervasyon yap</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="car_area">
                                <div class="discount">
                                    -%10
                                </div>
                                <div class="img_area">
                                    <img src="~/content/assets/images/vehicle.png" />
                                </div>
                                <div class="title_area">
                                    <div class="title">
                                        Renault Symbol 1.5 DCi Joy
                                    </div>
                                    <div class="subtitle">
                                        Haftalık fiyatı <em>141.60</em> TL / gün
                                    </div>
                                </div>
                                <div class="preview_area">
                                    <a href="#">Aracı İncele</a>
                                </div>
                                <div class="feature_area">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                        </div>
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="reservation_area">
                                <a href="#">rezervasyon yap</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="car_area">
                                <div class="discount">
                                    -%10
                                </div>
                                <div class="img_area">
                                    <img src="~/content/assets/images/vehicle.png" />
                                </div>
                                <div class="title_area">
                                    <div class="title">
                                        Renault Symbol 1.5 DCi Joy
                                    </div>
                                    <div class="subtitle">
                                        Haftalık fiyatı <em>141.60</em> TL / gün
                                    </div>
                                </div>
                                <div class="preview_area">
                                    <a href="#">Aracı İncele</a>
                                </div>
                                <div class="feature_area">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                        </div>
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="reservation_area">
                                <a href="#">rezervasyon yap</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-4">
                <div class="saerch_car_area">
                    <h2>
                        kiralık araç bul!
                    </h2>
                    <div class="carlistsearcharea">
                        <form method="POST">

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Alış Lokasyonu</label>
                                    <select name="" id="" class="form_select" required>
                                        <option value="" class="placeholder">Merkez Ofis</option>
                                        <option value="İstanbul">İstanbul</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Dönüş Lokasyonu</label>
                                    <select name="" id="" class="form_select" required>
                                        <option value="" class="placeholder">Merkez Ofis</option>
                                        <option value="İstanbul">İstanbul</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Alış Tarihi</label>
                                    <select name="" id="" class="form_select" required>
                                        <option value="" class="placeholder">17.12.2020</option>
                                        <option value="17.12.2020">17.12.2020</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Alış Saati</label>
                                    <select name="" id="" class="form_select" required>
                                        <option value="" class="placeholder">17:10</option>
                                        <option value="İstanbul">17:12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Dönüş Tarihi</label>
                                    <select name="" id="" class="form_select" required>
                                        <option value="" class="placeholder">17.12.2020</option>
                                        <option value="17.12.2020">17.12.2020</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Dönüş Saati</label>
                                    <select name="" id="" class="form_select" required>
                                        <option value="" class="placeholder">17:10</option>
                                        <option value="İstanbul">17:12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit">
                                    Filtrele
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
