<section class="mainpage">
    <div class="container">
        <ul class="social">
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <header>
        <div class="container">
            <ul>
                <li>
                    <a href="anasayfa"> Ana Sayfa</a>
                </li>
                <li>
                    <a href="araclistesi"> Araç Listesi</a>
                </li>
                <li class="selected">
                    <a href="hakkinda"> Hakkımızda</a>
                </li>
                <li>
                    <a href="iletisim"> İletişim</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="aciklama">
                    Hakkımızdaki bilgiler
                </span>
            </div>
        </div>
    </div>

</section>
<style type="text/css">

    .mainpage span.aciklama {
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
    }
</style>