@{
    ViewBag.Title = "RezervasyonYapildi";
}

<section class="mainpage">
    @Html.Partial("_Header")


    <div class="container searcharea">
        <div class="row">
            <div class="col-12">
                <span class="slogan">
                    rezervasyon talebiniz alınmıştır. en kısa sürede sizinle iletişime geçeceğiz.
                </span>
                <h1 class="pr-5 pt-3">
                    Teşekkür Ederiz
                </h1>

            </div>

        </div>
    </div>

</section>