<div class="container">
    <ul class="social">
        <li>
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>
<header>
    <div class="container">
        <ul class="logo">
            <li>
                <a href="/">
                    <img src="~/Content/assets/images/logo.jpg">
                </a>
            </li>
        </ul>
        <ul>
            <li @(Request.Path == "/anasayfa" ? " class=selected" : "")>
                <a href="anasayfa"> Ana Sayfa</a>
            </li>
            <li @(Request.Path == "/araclistesi" ? " class=selected" : "")>
                <a href="araclistesi"> Araç Listesi</a>
            </li>
            <li @(Request.Path == "/hakkinda" ? " class=selected" : "")>
                <a href="hakkinda"> Hakkımızda</a>
            </li>
            <li @(Request.Path == "/iletisim" ? " class=selected" : "")>
                <a href="iletisim"> İletişim</a>
            </li>
        </ul>
    </div>
</header>