<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amika</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/styles/css/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/assets/plugins/selectric/selectric.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/OwlCarousel2-2.3.4/owl.carousel.css">

</head>
<body>
    <div>

        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="title">
                        Menü
                    </div>
                    <div class="subtitle">
                        Şirketimizin denetimi AKKDER ve TOKKFED tarafından yapılmaktadır.
                    </div>

                    <ul class="link_area">
                        <li>
                            <a href="#">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="#">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="#">Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="#">Ana Sayfa</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <div class="title">
                        Bülten
                    </div>
                    <div class="subtitle">
                        E-posta bültenimize katılın kampanya ve haberler ilk size ulaşın.
                    </div>
                    <form method="POST">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form_control" placeholder="Lütfen ad ve soyadınızı yazınız...">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form_control" placeholder="Lütfen e-posta adresinizi yazınız...">
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit">
                                    Gönder
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <div class="title">
                        İletişim
                    </div>
                    <div class="subtitle">
                        Kızılarık Mahallesi 2754. Sokak No: 1/303<br> 07310 Muratpaşa, ANTALYA
                    </div>
                    <div class="phoneinfo">
                        <div class="row">
                            <div class="col-1"><span>M</span></div><div class="col-auto">0554 571 29 52</div>
                        </div>
                        <div class="row">
                            <div class="col-1"><span>T</span></div><div class="col-auto">0850 304 81 56</div>
                        </div>
                    </div>
                    <div class="social_area">
                        <div class="row">
                            <div class="col-2">
                                <a href="#">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="#">
                                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="#">
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seperator">&nbsp;</div>
        <div class="container footerinfo">
            <div class="row">
                <div class="col-6">
                    © 2021 Bekman. Bütün hakları saklıdır.
                </div>
                <div class="col-6 text-right">
                    Powered by Amika Yazılım ve Danışmanlık
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/assets/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="~/Content/assets/plugins/selectric/jquery.selectric.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
    <script src="~/Content/assets/scripts/pages/index.js"></script>
    <script src="~/Content/assets/scripts/App.js"></script>

    @RenderSection("ReservationScripts", required: false)

</body>
</html>